{% extends "Layout.html" %}
{% block content %} 
<div>
  {% for algorithm in alg %}
    <div class="algorithm">
      <img src="data:image/jpeg;base64,{{ algorithm[-1] }}" alt="Algorithm Image">

      <p>{{ algorithm[1] }} {{ algorithm[-2] }}</p>

      {% for other_algorithm in algs %}
        {% if algorithm[1] == other_algorithm[1] %}
          <div class="other-algorithms">
            <p>{{ other_algorithm[3] }}</p>
          </div>
        {% endif %}
      {% endfor %}

    </div>
    <div class="rating">
      <form action="" method="post" class="mt-3">
        <input type="hidden" name="algorithm_id" value="{{ algorithm[0] }}">
        <div class="form-group">
            <label for="rating">Rate this algorithm:</label>
            <input type="number" name="rating" min="0" max="5" step="1" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit Rating</button>
    </form>
    </div>
  {% endfor %}


{% endblock %}


