{% extends "layout.html" %}
{% block content %}

<p id="timer">0.00 s</p>
<button id="controlButton" onclick="controlTimer()">Start</button>
<button onclick="clearTimes()">Clear</button>

<ul id="timeList">
    {% for time in times %}
        <li>{{ time[0] }} s</li>
    {% endfor %}
</ul>

<script>
    let timer;
    let totalMilliseconds = 0;
    let isRunning = false;

    function controlTimer() {
        if (!isRunning) {
            startTimer();
        } else {
            stopTimer();
            saveTime(totalMilliseconds / 1000); // Save time when stopping
        }
    }

    function startTimer() {
        if (!timer) {
            timer = setInterval(setTime, 10);
        }
        isRunning = true;
        document.getElementById("controlButton").innerHTML = "Stop";
    }

    function stopTimer() {
        clearInterval(timer);
        timer = null;
        isRunning = false;
        document.getElementById("controlButton").innerHTML = "Reset";
        document.getElementById("controlButton").onclick = resetTimer;
    }

    function resetTimer() {
        totalMilliseconds = 0;
        document.getElementById("timer").innerHTML = "0.00 s";
        document.getElementById("controlButton").innerHTML = "Start";
        document.getElementById("controlButton").onclick = controlTimer;
    }

    function setTime() {
        totalMilliseconds += 10;
        const totalSeconds = totalMilliseconds / 1000;
        document.getElementById("timer").innerHTML = totalSeconds.toFixed(2) + " s";
    }

    function saveTime(time) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/timer", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                const li = document.createElement("li");
                li.textContent = time.toFixed(2) + " s";
                document.getElementById("timeList").appendChild(li);
            }
        };
        xhr.send("time=" + time);
    }

    function clearTimes() {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/timer", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                const timeList = document.getElementById("timeList");
                while (timeList.firstChild) {
                    timeList.removeChild(timeList.firstChild);
                }
            }
        };
        xhr.send("clear=true");
    }
</script>
{% endblock %}
