{% extends "layout.html" %}
{% block content %}
<h1 class="heading">Notation</h1>
<div class="container">
    <!-- Descriptions of how to execute algorithms -->
    <p>
        Notations for Rubik's Cube algorithms serve as a standardized language
        to describe the movements needed to solve the puzzle.
        Each notation represents a specific rotation of one of the
        cube's six faces. For example, "R" denotes a clockwise rotation
        of the right face, while "R'" indicates a counterclockwise
        rotation. This standardized system allows cubers worldwide
        to share and learn algorithms efficiently, ensuring consistent
        understanding and execution. The notations are essential for
        documenting and teaching the sequences required to solve
        different parts of the cube, from simple maneuvers to complex solving strategies</p>
    <img src="/static/notation.png" alt="Move notations for Rubik's Cube algorithms">
    <p>Moves with " ' " like R', U' are the reverse of the normal moves<br>
        Moves in lower case like r, u are wide moves where you move two layers
    </p>
    <h1 class="error-message">Example of How to Use the Algortihms</h1>
    <img src="/static/example.png" alt="Explanation of the functionality of the algorithms page">
</div>
{% endblock %}