{% extends "Layout.html" %}
{% block content %}
<div>
  <div>
    <form id = "sorting-form" method="post" onsubmit="sortingOptionDIsplay()">
      <p>Sort algorithms by</p>
      <select id="sorting-select" name="sorting-select">
          <option id="option-display"></option>
          <option value="id">default</option>
          <option value="name">name</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>

  {% for algorithm in alg %}
    <div class="algorithm">
      <!-- display the algorithm image -->
      <img src="data:image/jpeg;base64,{{ algorithm[-1] }}" alt="Algorithm Image">

      <!-- display the algorithm name and description -->
      <p>{{ algorithm[1] }} {{ algorithm[-2] }}</p>
      
      <!-- form to submit rating for the main algorithm -->
      {% if 'username' in session %}
      <div class="rating">
        <!-- rating form -->
        <form id="rating-form-{{ algorithm[0] }}" onsubmit="submitRating(event, {{ algorithm[0] }})">
          <div class="form-group">
            <label for="rating">Rate this algorithm:</label>
            <!-- ratign input form 0 to 5 (integers only)-->
            <input type="number" name="rating" min="0" max="5" step="1" required>
          </div>
          <button type="submit">Submit Rating</button>
        </form>
      </div>
      {% endif %}

      <!-- display the average rating if it exists -->
      {% if algorithm[0] in ratings %}
        <p id="rating-display-{{ algorithm[0] }}" >Average Rating: {{ ratings[algorithm[0]] }}</p>
      {% else %}
        <p id="rating-display-{{ algorithm[0] }}">No Ratings Yet</p>
      {% endif %}

      <!-- display other algorithms that have the same name -->
      {% for other_algorithm in algs %}
        {% if algorithm[1] == other_algorithm[1] %}
          <div id="other-algorithms">
            <p>{{ other_algorithm[3] }}</p>

            <!-- display the average rating if it exists -->
            {% if other_algorithm[0] in ratings %}
               <p id="rating-display-{{other_algorithm[0]}}">Average Rating: {{ ratings[other_algorithm[0]] }}</p>
            {% else %}
               <p id="rating-display-{{ other_algorithm[0] }}">No Ratings Yet</p>
            {% endif %}

            <!-- form to submit rating for an algorithm -->
            {% if 'username' in session %}
              <div class="rating">
                <form id="rating-form-{{ other_algorithm[0] }}" onsubmit="submitRating(event, {{ other_algorithm[0] }})">
                  <!-- rating form -->                 
                  <div class="form-group">
                      <label for="rating">Rate this algorithm:</label>
                      <!-- ratign input form 0 to 5 (integers only)-->
                      <input type="number" name="rating" min="0" max="5" step="1" required>
                  </div>
                  <button type="submit">Submit Rating</button>
                </form>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
<script>
  function submitRating(event, algorithmId, averageRating, numberOfRatings) {
    event.preventDefault();// avoid reloading page

    // set up XML httprequest
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/algorithms/{{ algorithm_set }}", true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    // get data from rating form
    var form = document.querySelector(`#rating-form-${algorithmId}`); // select rating form by id
    var rating = form.querySelector('input[name=rating]').value; // get the rating value from rating form
    var data = 'algorithm_id=' + algorithmId + '&rating=' + rating; // set up a variable for sending data

    // change text to notify user to reload page to see new average rating
    xhr.onreadystatechange = function(){
      if (xhr.readyState == 4 && xhr.status == 200){
        document.getElementById("rating-display-"+ algorithmId).innerHTML = "Rating Submited! Reload to see new average rating.";
      }
    }
    
    // send data to route.py and remove the form
    xhr.send(data);
    form.remove();
  }

  function sortingOptionDIsplay(){
    var sortingSelect = document.getElementById("sorting-select");
    var sortOption = sortingSelect.value;
    document.getElementById("option-display").innerHTML = sortOption;
  }

  
</script>
{% endblock %}
