{% extends "layout.html" %} 

{% block content %}
    <h2 class="heading">Login</h2> 
    <div class="container">
        <!-- Check if user login -->
        {% if 'username' in session %}
            <p class="error-message">You are logged in!</p>
            <a href="/" class="link">Return to home</a>
        {% else %}
            <form method="post"> 
                <label for="username">Username:</label> 
                <input type="text" name="username"><br> 
                
                <label for="password">Password:</label> 
                <input type="password" name="password"><br> 
                
                <button type="submit">Login</button> 
            </form>
             <!-- Error messages -->
            {% if wrong_username %}
                <p class="error-message">Account Does Not Exist!</p>
            {% elif wrong_password %}
                <p class="error-message">Wrong Password!</p>
            {% elif exceed_limit %}
                <p class="error-message">Username and password length must be less or equal to 10 characters!</p>
            {% elif empty_input %}
                <p class="error-message">Username or password can't be empty or have space!</p>
            {% elif short_password %}
                <p class="error-message">Password can't be less than 6 characters!</p>
            {% endif %}

            <a href="/register" class="link">Click Here to Register an account!</a> 
        {% endif %}

    </div>
{% endblock %} 
