{% extends "layout.html" %} 

{% block content %}
    <h2>Login</h2> 
    {% if logged_in %}
        <p>You are logged in!</p>
        <a href="/">Return to home</a>
    {% else %}
        <!-- form for user login -->
        <form method="post"> 
            <!-- input for username -->
            <label for="username">Username:</label> 
            <input type="text" name="username" required><br> 
            
            <!-- input for password -->
            <label for="password">Password:</label> 
            <input type="password" name="password" required><br> 
            
            <!-- submit login form -->
            <button type="submit">Login</button> 
        </form>

        <!-- Link to the registration page -->
        <a href="/register">Register</a> 
    {% endif %}
{% endblock %} 
