<div class="navbar">
    <a href="/"> <img src="/static/logo.png" alt="logo" class="logo"> </a>
    <a href="/">Home</a>
    <a href="/timer">Timer</a>

    <!-- algorithm page links -->
    <div class="dropdown">
        <button class="dropbtn">Algorithms</button>
        <div class="dropdown-content">
            <a href="/algorithms/oll">OLL</a>
            <a href="/algorithms/pll">PLL</a>  
        </div>
    </div>

    <!-- check if user login -->
    <div>
        {% if 'username' in session %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </div>
</div>
