{% extends "layout.html" %}

{% block content %}
    <h2 class="heading">Register</h2>
    <div class="container">
        <!-- check if user registered succesfully-->
        {% if registered %}
            <p class="heading">Account registered!</p>

        <!-- form to submit registeration-->
        {% else %}
            <form method="post">

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                
                <button type="submit" class="button">Register</button>       
        </form>
        {% endif %}

        <!-- check if username alreday taken -->
        {% if username_exist %}
            <p class="heading">The username is already taken!</p>
        {% endif %}
        <a href="/login" class="link">Return to login</a>
    </div>
{% endblock %}
