{% extends "layout.html" %}

{% block content %}
    <h2 class="heading">Register</h2>
    <div class="container">
        {% if registered %}
            <p class="error-message">Account registered!</p>
        {% else %}
            <!-- Register form-->
            <form method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>

                <label for="password">Password:</label>
                <input type="text" id="password" name="password"><br>
                <p>
                    Username and password must not contain space.<br>
                    Username and password must be less than or equal to 10 characters.<br>
                    Password must be more than or equal to 6 characters.
                </p>
                <button type="submit">Register</button>       
        </form>
        {% endif %}

        <!-- Error messages -->
        {% if username_exist %}
            <p class="error-message">The username is already taken!</p>
        {% elif exceed_limit %}
            <p class="error-message">Username and password length must be less or equal to 10 characters!</p>
        {% elif empty_input %}
            <p class="error-message">Username or password can't be empty or contain space!</p>
        {% elif short_password %}
            <p class="error-message">Password can't be less than 6 characters!</p>
        {% endif %}
        <a href="/login" class="link">Return to login</a>
    </div>
{% endblock %}
