{% extends "layout.html" %}

{% block content %}
    <h2 class="heading">Register</h2>
    <div class="container">
        <!-- Check if user registered succesfully-->
        {% if registered %}
            <p class="error-message">Account registered!</p>

        <!-- Form to submit registeration-->
        {% else %}
            <form method="post">
                <!-- Input for username -->
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>
                <!-- Input for password -->
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br>
                
                <button type="submit">Register</button>       
        </form>
        {% endif %}

        <!-- Check if username alreday taken -->
        {% if username_exist %}
            <p class="error-message">The username is already taken!</p>
        {% elif exceed_limit %}
            <p class="error-message">Username and password length must be less or equal to 10 characters</p>
        {% elif empty_input %}
            <p class="error-message">Username or password can't be empty or have space</p>
        {% endif %}
        <a href="/login" class="link">Return to login</a>
    </div>
{% endblock %}
