/* add a background color to the body */
body {
    background-color: #F0F4EF;
}

.algorithm img {
    margin-right: 10px; 
}

.algorithm {
    margin-left: 20px; 
}

/* navbar container */
.navbar {
    overflow: hidden;
    background-color: #344966; 
    font-family: Arial;
}

/* logo */
.logo {
    background-color: white;
    border-radius: 3px;
    height: 40px; 
    width: auto; 
    vertical-align: middle;
    display: inline-block; 
    margin-right: 20px; 
}

/* links inside the navbar */
.navbar a {
    float: left;
    font-size: 40px; 
    color: white; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none;
    line-height: 40px; 
}

/* the dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* dropdown button */
.dropdown .dropbtn {
    font-size: 40px; 
    border: none;
    outline: none;
    color: white; 
    padding: 14px 20px;
    background-color: inherit;
    margin: 0; 
    line-height: 40px; 
    font-family: inherit;
}

/* dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* add a background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* headings */ 
.heading {
    text-align: center; 
    font-size: 3em; 
    margin: 20px 0; 
}

/* timer */
#timer {
    text-align: center;
    font-size: 5em; 
    margin: 20px 0;
}

/* containers */
.container {
    text-align: center; 
    background-color: white; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 0 auto; 
}

/* buttons */
.button {
    font-size: 2em; 
    padding: 15px 30px; 
    margin: 10px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
}

/* add a grey background to the buttons when hover */
.button:hover {
    background-color: #7e7f7f; 
}

/* time list display */
#time-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

/* time list item */
#time-list li {
    font-size: 1.2em; 
    margin: 10px 0; 
}

/* form */
form {
    width: 100%; 
}

/* form labels */
form label {
    margin: 10px 0 5px; 
    font-weight: bold; 
    width: 100%; 
    text-align: left; 
}

/* form inputs */
form input {
    padding: 10px;
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
    max-width: 300px; 
}

/* error messages */
.error-message {
    color: red; /* Red text color */
    font-weight: bold; /* Bold text for emphasis */
    margin: 10px 0; /* Margin for spacing */
    font-size: 2em;
}

/* links */
.link {
    font-size: 2em; 
    text-decoration: none; 
    margin: 10px 0; 
    padding: 10px; 
    display: inline-block; 
}


.link:hover {
    text-decoration: underline;  
}